:root {
  --scaleValue: 1;
  --widthInPx: 0;
  --heightInPx: 0
}

#gameOverPanel {
  display: none;
}

#questPanel {
  display: none;
}

div#ballsParent {
  margin-bottom: 50px;
}



* {
  font-family: "FredokaOne";
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}



.container {
  width: 100%;
  display: flex;
  grid-gap: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.arrow {
  width: fit-content;
  margin-left: 20%;
}

.card-body {
  text-align: center;
  padding: 10px;
}

.card-body h2 {
  margin-top: 5px;
  letter-spacing: 1.5px;

}

.card-body p {
  font-size: 25px;
  /* margin: 0 0 40px; */
}





.card-1 {
  margin: 10px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-text-size-adjust: 100%;
  transform: translate(-50%, -50%);
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 340px;
  align-items: center;
  padding-top: 26%;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.tag-teal {
  background-color: #47bcd4;
}

.tag-purple {
  background-color: #5e76bf;
}

.tag-pink {
  background-color: #cd5b9f;
}



.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user-info {
  margin: -29px;
  background-color: #FB6D26;
}

.user-info small {
  color: #545d7a;
}

.favorite-styled {
  background-color: #FB6D26;
  width: 50%;
  width: 444px;
  height: 7vh;
  font-size: 50px;
  border: none;
  color: white;
  height: 118px;
}

.favorite-styled:disabled {
  background-color: #cccccc;
  color: #545d7a;
}


.middle {
  background-color: #475766;
  width: 112%;
  height: auto;
  color: white;
  margin-top: 22px;
  text-align: center;
  margin-top: -8%;
  border: none;
}

/* .container{
  margin-top: 10%;
} */

.heading2 {
  text-align: center;
  font-size: 33px;
}

.arrow-btn {
  margin-left: 81%;
  border-radius: 28px;
  margin-top: -31%;
  width: 45px;
  height: 40px;
  font-size: 30px;
  background-color: #E1E1E1;
  color: #E1E1E1;

}

/* Hide the images by default */


/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -52px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-left: -82%;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#ballsList {
  width: 100%;
}

#prevBtn,
#nextBtn {
  width: 20%;
  display: inline;
  float: left;
}

.arrowBtn {
  width: auto;
  /* cursor: pointer; */
  /* display: inline; */
  /* float: left; */
}

.mySlides {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




.mySlides .img-1 {
  height: 100px;
  display: flex;
  margin-top: -10%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.btn-primary {
  font-size: 32px;
  width: 48px;
  border-radius: 34px;
  cursor: pointer;

}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


/* progress bar */
*,
*::before,
*::after {
  box-sizing: border-box;
}

#parentDiv {
  margin: 0;
  padding: 0;
  /* z-index: 1; */
  width: 100vw;
  height: 100vh;
  /* height: 100%; */
  display: block;
  position: absolute;
  /* overflow: hidden; */
  /* background: coral; */
}

.main {
  width: 419px;
  /* height: 100%; */
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  border-radius: 0.25rem;
  z-index: 1;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);

}

#biscuit-img {
  height: 10%;
  width: 10%;

}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heading1 {
  font-size: 36px;
  margin: 10px 0;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  margin-bottom: 8%;
}

#coinIcon {
  margin-left: 9%;
  width: 24%;
  margin-right: 12%;
}

.card_btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 34px;
  text-transform: uppercase;
  border-radius: 4px;
  /* font-weight: 400; */
  display: block;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;

}

.activeBtn {
  background: #00A6FB;
  cursor: pointer;
  box-shadow: #00A6FB 4px 4px;
}

.activeBtn:hover {
  background: #129be0;
  box-shadow: #0e98dd 4px 4px;
}

.activeBtn:active {
  background: #326077;
  box-shadow: #172c36 4px 4px;
}

.deactiveBtn {
  cursor: default;
  background: #b9c0c5;
  box-shadow: #b6b6b7 4px 4px;
}

.small {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 25%;
}

.cards_item {
  display: flex;
  padding: 1rem;
}






.card_content {
  padding: 1rem;
  background: #FFFFFF;
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  /* font-weight: 700; */
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}



.card_text2 {
  color: rgb(39, 35, 35);
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  /* font-weight: 400; */
  margin-left: 138px;
  width: -1%;
}

.key-move {
  margin-left: 80%;
  z-index: 1;
  background: none;
  border: none;
}

.key {
  margin-top: -183%;
  z-index: 1;
}

.rotate {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.normal {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.made_by {
  /* font-weight: 400; */
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

.card_image {
  justify-content: end;
  width: 95%;
  margin: 4% 2.5%;
  height: auto;
  border-radius: 10px;
  /* margin-top: 4%; */
}

.questCardField {
  justify-content: end;
  width: 95%;
  margin: 2% 2.5%;
  height: 100px;
  border-radius: 10px;
}





.questCard {
  background-color: #C9E7E6;
}

.questCardCompleted {
  background-color: #79df60;
  box-shadow: -3px 5px 5px grey;
}


.questData {
  width: 70%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
}

.questImg {
  width: 30%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
}

.small {
  margin-left: -52%;
}



.class-3 {
  background-color: green;
}



#subHead {
  text-align: center;
  margin: 10px 0;
  font-weight: 100;
  /* margin-top: -5%; */
}

.progress {
  background: rgba(172, 32, 32, 0.1);
  border-radius: 100px;
  align-items: center;
  position: relative;
  display: block;
  height: 32px;
  width: 95%;
  margin: 5px 2.5%;
}


.progress span {
  width: 100%;
  position: relative;
  display: block;
  text-align: center;
  bottom: 75%;
  font-weight: 100;

}

.progress-value {
  /* animation: load 3s normal forwards; */
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: rgb(52, 185, 103);
  height: 30px;
  width: 0;
}

/* 
@keyframes load {
  0% { width: 0; }
  100% { width: 68%; }
} */




.prizeBox {
  margin: 0;
  /* margin-top : 10px; */
  padding: 0;
  width: 100%;
  display: block;
  height: 100%;
}

.img-2 {
  padding: 10px;
  /* cursor: pointer; */
}

.reward-img {
  padding: 0;
  max-height: 94%;
  margin: 3% 0;
}

/* .reward-effect {

  /* animation: rEffect 1s infinite; */
  /* animation-timing-function: linear;    */
  /* position:sticky; */
  /* top: 0; */
  /* left: 0; */
  /* -webkit-animation: slide-out-blurred-br 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) 1s both; */
  /* animation: slide-out-blurred-br 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) 1s both; */
 
*/

/* @keyframes rEffect {
  0% { transform: translate(0%, 0%); }
  20% { transform: translate(25px, 25px);; }
  100% { transform:translate(100%, 100%);;}
} */

.slide-out-blurred-br {
  -webkit-animation: slide-out-blurred-br 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
  animation: slide-out-blurred-br 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
}


@-webkit-keyframes slide-out-blurred-br {
  0% {
    -webkit-transform: translate(30%, -20%) skew(0deg, 0deg);
    transform: translate(30%, -20%) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;

  }

  100% {
    -webkit-transform: translate(1000px, 1000px) skew(80deg, 10deg);
    transform: translate(1000px, 1000px) skew(80deg, 10deg);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 1;
  }
}

@keyframes slide-out-blurred-br {
  0% {
    -webkit-transform: translate(30%, -20%) skew(0deg, 0deg);
    transform: translate(30%, -20%) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(1000px, 1000px) skew(80deg, 10deg);
    transform: translate(1000px, 1000px) skew(80deg, 10deg);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}

.slide-out-elliptic-right-bck {
  -webkit-animation: slide-out-elliptic-right-bck 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
  animation: slide-out-elliptic-right-bck 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
}

.slide-out-elliptic-left-bck {
  -webkit-animation: slide-out-elliptic-left-bck 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
  animation: slide-out-elliptic-left-bck 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
}

@-webkit-keyframes slide-out-elliptic-right-bck {
  0% {
    -webkit-transform: translate(30%, -20%) rotateY(0) scale(1);
    transform: translate(30%, -20%) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
    transform-origin: -1800px 50%;
    opacity: 1;
  }

  100% {
    -webkit-transform: translate((var(--widthInPx)), calc(-1*var(--heightInPx))) rotateY(45deg) scale(0);
    transform: translate((var(--widthInPx)), calc(-1*var(--heightInPx)))rotateY(45deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 1;
  }
}

@keyframes slide-out-elliptic-right-bck {
  0% {
    -webkit-transform: translate(30%, -20%) rotateY(0) scale(1);
    transform: translate(30%, -20%) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
    transform-origin: -1800px 50%;
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(var(--widthInPx), calc(-1*var(--heightInPx))) rotateY(45deg) scale(0);
    transform: translate(var(--widthInPx), calc(-1*var(--heightInPx))) rotateY(45deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-elliptic-left-bck {
  0% {
    -webkit-transform: translate(30%, -20%) rotateY(0) scale(1);
    transform: translate(30%, -20%) rotateY(0) scale(1);
    -webkit-transform-origin: 2000px 50%;
    transform-origin: 2000px 50%;
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(calc(-1 * var(--widthInPx)), var(--heightInPx)) rotateY(30deg) scale(0);
    transform: translate(calc(-1 * var(--widthInPx)), var(--heightInPx)) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 1;
  }
}

@keyframes slide-out-elliptic-left-bck {
  0% {
    -webkit-transform: translate(30%, -20%) rotateY(0) scale(1);
    transform: translate(30%, -20%) rotateY(0) scale(1);
    -webkit-transform-origin: 2000px 50%;
    transform-origin: 2000px 50%;
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(calc(-1 * var(--widthInPx)), var(--heightInPx)) rotateY(30deg) scale(0);
    transform: translate(calc(-1 * var(--widthInPx)), var(--heightInPx)) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 1;
  }
}


.prizeBox .hoverBtn {
  display: none;
  padding: 10px;
}

.activePrizeBox:hover .hoverBtn {
  display: block;
}

.activePrizeBox:hover .img-2 {
  display: none;
}


.pulse {
  cursor: pointer;

  animation: pulse 1s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}



.text-sm {
  text-align: center;
  margin: 0;
  width: 100%;
  padding-top: 20px;
  height: 40px;
  display: block;
}

.text-bg {
  text-align: center;
  margin: 0;
  width: 100%;
  padding-top: 20px;
  height: 40px;
  display: block;
  font-size: 2em;
}

.subheading {
  text-align: center;
  margin: 0;
  width: 100%;
  padding-top: 20px;
  height: 40px;
  display: block;
  word-spacing: 0.1em;
  font-size: 1.1em;
}

/* .progress-styled
{
  width: 70%;
  margin:  0;
  float:  left;
  display: inline;
} */


.card_text {
  color: rgb(58, 53, 53);
  /* font-weight: 400; */
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}

#mascotDiv {
  display: none;
  z-index: 99;
  /* background-color: rgba(0, 0, 0, 0.4); */
  width: 1280px;
  height: 720px;
  position: fixed;
  transform: scale(var(--scaleValue));
  top: calc(50% - 360px);
  left: calc(50% - 640px);
  overflow: hidden;
}

#mascot {

  width: 180px;
  height: auto;
  position: relative;
  top: 500px;
  left: 1050px;

}

#mascotMsgDiv {
  display: none;
  position: relative;
  width: 400px;
  height: 200px;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  top: 180px;
  left: 700px;
}

#mascotMsg {
  font-size: 1.4rem;
  padding: 4%;
}




.slide-in-elliptic-right-fwd {
  -webkit-animation: slide-in-elliptic-right-fwd 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
  animation: slide-in-elliptic-right-fwd 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

@-webkit-keyframes slide-in-elliptic-right-fwd {
  0% {
    -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
    transform: translateX(800px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
    transform-origin: -1800px 50%;
    opacity: 1;
  }
}

@keyframes slide-in-elliptic-right-fwd {
  0% {
    -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
    transform: translateX(800px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
    transform-origin: -1800px 50%;
    opacity: 1;
  }
}


.ballPrice {
  margin-top: 20px !important;
  padding: 5px 18px;
  text-align: center;
  background-color: #ef9105;
  font-size: 1.5em !important;
  font-weight: inherit;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: inherit;
}


.ballPrice:hover {
  background-color: #fdbf61;

}

.ballPrice:active {
  background-color: #7e5d2b;

}



/* #mascotMsgDiv {
  width: 400px;.chil
  height: 200px;
  background-size: 100% 100%;
  background-image: url("https://unsplash.it/600/600");
  border: 1px solid black;
} */